doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Three + Ts Template
    script(src='vendor.bundle.js')
    script(src='app.bundle.js')
    link(rel='stylesheet', href='style.css')
  body
    #sketch
