doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Three + Ts Template
    script(src='/js/vendor.bundle.js')
    script(src='/js/app.bundle.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    #sketch
